.Container {
  background-color: #f7f7f7;
  width: 30rem;
  max-width: 30rem;
  border-radius: 8px;
  box-shadow: 0 0 128px 0 rgba(0, 100, 0, 0.2),
    0 32px 64px -48px rgba(0, 100, 0, 0.5);
}

.Content {
  padding: 2rem;
}

.Header {
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 100, 0, 0.5);
  color: rgba(0, 100, 0, 0.8);
}

.Form {
  margin-top: 1.25rem;
}

.Input {
  display: flex;
  margin-bottom: 1rem;
  flex-direction: column;
  position: relative;
}

.Input label {
  color: rgba(0, 100, 0, 0.8);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.Input input {
  height: 2rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border-color: rgba(0, 100, 0, 0.5);
}

.Input select {
  height: 2rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border-color: rgba(0, 100, 0, 0.5);
}

.ContentButton {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  cursor: pointer;
}

.ContentButton a {
  font-size: smaller;
  margin-top: 1rem;
}

.ContentButton button {
  justify-content: flex-end;
  align-items: flex-end;
  font-size: large;
  height: 3rem;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  color: #f7f7f7;
  background-color: rgba(0, 100, 0, 0.5);
  border: none;
  cursor: pointer;
}

.ContentButton button:hover {
  color: rgba(0, 100, 0, 0.8);
  background-color: rgba(0, 100, 0, 0.2);
  font-weight: 500;
}

.HeaderContent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.HeaderContent h3 {
  color: rgba(0, 100, 0, 0.8);
  margin-left: 1rem;
}


img {
  color: rgba(0, 100, 0, 0.8);
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.MessageContent {
  position: relative;
  border-radius: 0.5rem;
  overflow-y: auto;
  border-color: rgba(0, 100, 0, 0.5);
  min-height: 25rem;
  max-height: 25rem;
  padding: 1rem;
  box-shadow: inset 0 2rem 2rem -2rem rgba(0, 100, 0, 0.2),
    inset 2rem 2rem 2rem -2rem rgba(0, 100, 0, 0.2),
    inset 0 0 2rem 2rem rgba(0, 100, 0, 0.2);
}

.MessageSender {
  margin: 2rem 0;
  display: flex;
}

.MessageSenderDet {
  margin-left: auto;
  max-width: calc(100% - 5rem);
}

.MessageSenderDet p {
  background-color: rgba(0, 100, 0, 0.5);
  color: #f7f7f7;
  border-radius: 0.5rem 0.5rem 0 0.5rem;
  word-wrap: break-word;
  padding: 0.5rem 1rem;
}

.MessageReceive {
  margin: 2rem 0;
  display: flex;
  align-items: flex-end;
}

.MessageReceiveDet {
  margin-right: auto;
  max-width: calc(100% - 5rem);
}

.MessageReceiveDet p {
  background-color: rgba(0, 0, 150, 0.5);
  color: #f7f7f7;
  border-radius: 0.5rem 0.5rem 0.5rem 0;
  word-wrap: break-word;
  padding: 0.5rem 1rem;
}

.InputContent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.InputContent input {
  display: flex;
  flex: content;
  height: 2rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border-color: rgba(0, 100, 0, 0.5);
  margin-right: 1rem;
}

.InputContent button {
  height: 2rem;
  padding: 0 2rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  color: #f7f7f7;
  background-color: rgba(0, 100, 100, 0.5);
  border: none;
  cursor: pointer;
}